.place__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  color: #FFFFFF;
  align-self: end;
  justify-self: stretch;
}

@media screen and (max-width: 820px) {
  .place__title {
    font-size: 42px;

  }
}

@media screen and (max-width: 520px) {
  .place__title {
    padding: 0 16px;
    font-size: 32px;
    line-height: 109%;
  }
}

