.lead__subtitle {
  max-width: 640px;
  margin: 0 auto;
  color: white;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  margin-top: 32px;
}

@media screen and (max-width: 520px) {
  .lead__subtitle {
    font-size: 16px;
    margin-top: 16px;
    padding: 0 16px;
  }
}


