.places__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: .3s;
  text-decoration: none;
  border-bottom:  1px solid white;
}

.places__link:hover {
  opacity: 0.8;
}
