.footer {
  padding: 0 48px 24px 48px;
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px 24px;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 520px) {
  .footer {
    padding: 0 16px 24px 16px;
  }
}
